### oops concept in python

In [1]:
# global variable 
## local variable

### polymorphism
### inheritence
### encapsulation
### Abstraction

In [2]:
class Class_name:
    pass
# class_name>>>>> class name 
# pass >>> placeholder
# class is a keyword

In [3]:
class Student:
    name = "ritik"  ### class variable
    age = 20  ### class variable
    print(f"my name is {name} and my age is {age}")
obj_st=Student() ##obj_st is object

my name is ritik and my age is 20

In [4]:
obj_st.name

'ritik'

In [5]:
obj_st.age

20

In [6]:
class Student:
    name = "ritik"  ### class variable
    age = 20  ### class variable

    def info(self):   ### info is method and self is parameter ya object keyword 
        print("this is my first method")
        print("how are you all")


dt_obj =Student()

In [7]:
dt_obj.info()

this is my first method
how are you all

In [8]:
class Student:
    name = "ritik"  ### class variable
    age = 20  ### class variable

    def info(self):
        print(name)
        print(age)   ### info is method and self is parameter ya object keyword 
       


dt_obj =Student()

In [9]:
dt_obj.info()

NameError: name 'name' is not defined

In [ ]:
class Student:
    name = "ritik"  ### class variable
    age = 20  ### class variable

    def info(self):
        print(f"my name is {self.name} and my age is {self.age}")
        # print(age)   ### info is method and self is parameter ya object keyword 
       


dt_obj =Student()

In [ ]:
dt_obj.info()

my name is ritik and my age is 20

### inheritence
     types of inheritance 
* single inheritance
* multiple inheritance
* multilevel inheritance
* hierarchical inheritance
* hybrid inheritance

In [ ]:
# class Collage:
#     pass


# class Student:
#     pass

In [ ]:
### Single inheritance 
class Collage:
    pass
class Student(Collage):
    pass

In [ ]:
class Collage:
    collage_name = "Arya main campus "
    collage_address = "khukas"

    def info(self):
        print(self.collage_name)
        print(self.collage_address)
class Student(Collage):
    student_name = "ritik"
    student_id = "1234"
st_obj =Student()
print(st_obj.collage_name)
print(st_obj.collage_address)
print(st_obj.student_name)
print(st_obj.student_id)

Arya main campus
khukas
ritik
1234

In [ ]:
st_obj.info()

Arya main campus
khukas

In [ ]:
#### multiple inheritance
class Father:
    father_name = "ritik"
    father_id = "1234"
class Uncle:
    uncle_name = "Rohit kumar "
class Child(Father,Uncle):
    pass


obj_child = Child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.uncle_name)

ritik
1234
Rohit kumar

In [ ]:
#### multilevel inheritance
class Grandfather:
    grandfather_name = "ritik"
    grandfather_id = "1234"
class Father(Grandfather):
    father_name = "Rohit kumar "
    father_id = "1234dfgfg"

class Child(Father):
    pass

obj_child = Child()
print(obj_child.grandfather_name)
print(obj_child.grandfather_id)
print(obj_child.father_name)
print(obj_child.father_id)

ritik
1234
Rohit kumar
1234dfgfg

In [ ]:
#### polymorphism
print("hello")

hello

In [ ]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
type(lst)

list

In [ ]:
type("hello")

str

In [10]:
class Student:
    pass

In [11]:
class Student:
    pass

In [12]:
# = and == and is 
# in and not in 
# or and and  
# while or for

In [17]:
### Encapsulation 
# private 
# public 
# protected
class Student:
    __name = "ritik" ### private variable
    age = 20 ### public variable
    _id = "1234" ### protected variable
st_obj =Student()

In [18]:
st_obj.age

20

In [21]:
st_obj._Student__name

'ritik'

In [19]:
st_obj._id

'1234'

In [20]:
st_obj.__name

AttributeError: 'Student' object has no attribute '__name'

In [22]:
# bank 

# account number  private 
# name 
# address
# phone number
# method 
# total balance 


# class 
# method 
# inheritance 


# task 1 >>>> super function 
# task 2 >>>> Bmi calculator   class

In [23]:
class Bank:
    __account_number = "1234"
    name = "ritik"
    address = "khukas"
    phone_number = "1234567890"
    balance = 0
    def info(self):
        print("this is bank class")
        print("my total balance is ", self.balance)

obj_bank=Bank()

In [24]:
obj_bank.info()

this is bank class
my total balance is  0

In [25]:
### contructor 
# init method 
# __init__


class Student:
    def __init__(self):
        pass

In [26]:
# calling 
class Student:
    def __init__(self):
        pass
Student()

In [31]:
class Student:
    def __init__(self, name , age ):
        self.name = name
        self.age = age  ### intance variable


obj_st =Student(name = "ritik", age=22)

print(obj_st.name)
print(obj_st.age)

ritik
22

In [35]:
class Student:
    def __init__(self, name , age , address):
        self.name = name
        self.age = age  ### intance variable
        self.address = address

    def display(self):
        print(f"my name is {self.name} and my age is {self.age} and my address is {self.address}")



obj_st=Student(name="ritik",age=22,address="khukas")

In [36]:
obj_st.display()

my name is ritik and my age is 22 and my address is khukas

In [ ]:
# class Bank:
# contrutore 
# init method 
# __init__
# account number  private 
# name 
# address
# phone number
# method 
# deposite 
# withdraw
# total balance

In [ ]:
class Bank:
    def __init__(self, name , amount ,age ,account_number , phone_number , address):
        self.name = name 
        self.age = age
        self.amount = amount
    
        self.__account_number = account_number
        self.phone_number = phone_number
        self.address = address

    def deposite(self,amount):
        self.amount = self.amount + amount
        return self.amount

        
    def withdraw(self,amount):
        self.amount = self.amount - amount
        return "success withdraw thanks for using our services" 

    def total_balance(self):
        return self.amount 
    def info(self):
        print("your name ",self.name)
bn_obj =Bank(name="ritik",amount=1000,age=22,account_number="1234",phone_number="1234567890",address="khukas")

In [39]:
bn_obj.address

'khukas'

In [45]:
bn_obj.total_balance()

1500

In [42]:
bn_obj.total_balance()

2000

In [41]:
bn_obj.deposite(1000)

2000

In [44]:
bn_obj.__account_number

AttributeError: 'Bank' object has no attribute '__account_number'